<table class="index">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% article.article_products.each do |article_product| %>
      <tr id="<%= dom_id article_product %>">
        <td><%= article_product.product.name %></td>
        <td width="70px">
          <%= link_to_delete article_product, {:url => admin_article_product_url(article, article_product)} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>