<div class="articles">
  <%= render :partial => 'preview', :collection => @articles, :as => :article %>

  <br class="clear"/>

  <%= link_to(image_tag('blog/rss.png', :alt => t('.rss')) + t('.rss'), articles_path(:format => 'rss'), :id => "articles-rss") %>
  <%= will_paginate @articles %>

</div>  

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
